@model NikamoozStore.Core.Domain.Payments.VerifyPayemtnResult
@{
    ViewData["Title"] = "تایید پرداخت";
}
<div class="container">
    <h2>پرداخت شما با موفقیت انجام شد</h2>
    <p>کد رهگیری  @Model.transId</p>
</div>
