@model NikamoozStore.Core.Domain.Payments.RequestPaymentResult
@{
    ViewData["Title"] = "Verify";
}
    <div class="container">
        <p>پرداخت ناموفق بود</p>
        <p>@Model.ErrorMessage</p>
    </div>
